1. Название файла
    wog_<кол-во слотов>_<название>_<версия>.<остров>.pbo
    1. Использовать только строчные буквы.
    2. Без пробелов и других символов (только буквы, цифры и “_”).
    3. Без дополнительных точек (всего две - .Altis.pbo).
    4. Без буквы v перед версией.
    5. Первая версия миссии обязательно должна иметь номер 1.0.
    6. Версии менять при каждом обновлении миссии (1.0, 1.1 и т.д., в номере версии могут быть только цифры). Номер версии не нужно менять, если версия 1.0 и миссия еще не была ни разу сыграна.
    7. При значительном изменении миссии следует заменить целую часть в версии (например, после версии 1.5 миссия была серьезно переработана, следующий номер версии - 2.0).
    8. Если название миссии на русском, то нужно использовать транслит.
    Примеры:
    wog_156_voshod_10.Takistan.pbo
    wog_156_voshod_12.Takistan.pbo
    wog_156_voshod_20.Takistan.pbo
    wog_160_fob_east_guard_12.Takistan.pbo
 
2. Attr
    1. Название миссии
        WOG <кол-во слотов> <Название> <версия> 
        1. Использовать только заглавные буквы для префикса WOG.
        2. Использовать пробелы вместо нижнего подчеркивания “_”.
        3. Название миссии с заглавной буквы.
        Пример:
        WOG 156 Восход 1.2

    2. Общие
        1. Заполняемые поля:
           * Представление: Название;
           * Представление: Автор;
           * Обзор: Изображение.
              1. Изображение необязательно, допускается его отсутствие. 
              2. Общий размер используемых изображений не должен превышать 200КБ.Размер одного изображения не должен превышать 80КБ
        2. Подменю Состояние:
           * Все должно быть включено, за исключением сохранения и продвинутой модели полета;
           * Консоль отладки должна быть доступно для хоста или вошедшего в систему администратора.
        3. Бинаризация файлов должна быть включена.

    3. Окружение
        1. Запрещено использовать дождь и ветер интенсивностью более 40%.
        2. Не рекомендуется применять туман в миссиях с водоемами на островах CUP из-за некорректного отображения.

    4. Сетевая игра
        1. Подменю Тип:
           * Не изменять.
        2. Подменю Лобби:
           * Сводка по шаблону 
              * <фракция атаки> (<цвет стороны>, атака) vs <фракция обороны> (<цвет стороны>, оборона)
                 1. Допускается использование других обозначений противоборства сторон вместо vs
           * При использовании нескольких фракций за одну сторону конфликта разделять их знаком +
              * Пример: <фракция атаки> (<цвет стороны>, атака) + <фракция атаки> (<цвет стороны>, атака) vs <фракция обороны> (<цвет стороны>, оборона)
           * Включить ИИ.
        3. Подменю Возрождение:
           * Возрождение - Переключиться на зрителя;
           * Набор правил
              * Зритель.
        4. Подменю Задачи:
           * Не изменять.

    5. Description.ext
        * Допускается наличие Description.ext , при условии что автор миссии сможет пояснить проверяющему администратору, для чего он нужен, и какие функции реализует.

3. Брифинг
    1. Обязательно наличие вкладки, в которой должны быть кратко по пунктам описаны цели миссии для каждой стороны отдельно.
    2. При наличии условностей, скриптов или триггеров необходимо добавить их описание в отдельную вкладку. Условности не должны нарушать Правила Проекта.
    3. Для ключевых локаций, указанных в брифинге, должны быть использованы ссылки на маркера.
    4. Текст не должен содержать орфографических и пунктуационных ошибок.
    5. Текст должен быть написан на русском языке. Допускается использование небольшого объема текста на другом языке для придания атмосферности миссии.
    6. Допускается добавление перевода всего брифинга на другие языки.
 
4. Слоты
    1. Количество слотов на миссиях не должно превышать 190.
    2. Допускается присутствие более 2-х противоборствующих сторон.
    3. Штабным отделением может быть только первое по списку отделение.
    4. Обязательно должна быть указана приписанная отделению тяжелая военная техника (БТР, БМП и т.д.) в названии отделения, в описании слота КО или в описании слотов членов экипажа.
    5. В мотопехотных отделениях члены экипажа должны быть в отделении с пехотой (за исключением случаев возможности выбора техники для данного отделения).
    6. Обязательно наличие медика в каждом отделении или мед.отделения на стороне. Допускается наличие только одного медика на всю сторону.
    7. Обязательно наличие слотов механика-водителя/пилота, наводчика-оператора/стрелка и командира техники для тяжелой военной техники или авиации приписанной стороне (слоты второго пилота, бортовых стрелков и т.п. устанавливаются по желанию автора миссии).
    8. Каждый юнит должен быть игровым.
    9. Запрещено отключать специальные состояния у юнитов и техники.
    10. Обязательно наличие инженеров на стороне, если присутствует гусеничная техника (инженерное отделение / один или несколько инженеров в штабном отделении / члены экипажа в качестве инженеров). При использовании членов экипажа в качестве инженеров допускается выдача не более 2 ремонтных наборов на каждую единицу гусеничной техники. При использовании инженеров в штабном отделении или инженерного отделения количество ремонтных наборов остается на усмотрение автора миссии.
 
5. Техника и снаряжение
    1. В скрипте со снаряжением должно содержаться условие локальности запуска скрипта, либо ссылка на файл обеспечивающий локальность.
    2. Для полного переоснащения юнита обязательно использование WOG Export в арсенале (готовые структуры).
    3. Обязательно использование “ванильных” юнитов с последующей выдачей им снаряжения через sqf-файлы. Допускается использование юнитов RHS “как есть” (без какого-либо изменения снаряжения).
    4. Запрещено редактирование снаряжения через атрибуты юнита и хранилища снаряжения у техники (объектов) в редакторе.
    5. Скрипты со снаряжением должны лежать в отдельной папке и иметь понятное название, по которому можно понять тип снаряжения и фракцию.
    6. Запрещено использовать любые символы, включая пробел, в названиях скриптов и других файлов, за исключением нижнего подчеркивания “_”.
    7. Запрещено помещать в инвентарь юнитов/ящиков/техники снаряжение больше фактического объема хранилища.
    8. Запрещено использовать “ванильные” вооружение, снаряжение и военную технику. Допускается использование не бронированной и не вооруженной техники, по договоренности с игровой администрацией. (в условностях миссии указывается наличие ванильной техники). 
    9. Допускается использование “ванильной” военной техники в качестве цели миссии (необходимо ее уничтожить). При этом доступ к данной технике должен быть заблокирован.
    10. Запрещено использование техники и снаряжения из DLC.
    11. При изменении названия отделения (Альфа Х-Х), на собственное, необходимо прописывать нумерацию отделений. (пример: Альфа 1-1 | 1-ое пехотное отделение; Первое штурмовое отделение; 1st Rifleman squad)
 
6. Скрипты и триггеры
    1. Скрипты (кроме скриптов выдачи снаряжения) должны находится в отдельной папке scripts и иметь понятное название, по которому возможно понять его функционал.
    2. Запрещено использовать триггеры и скрипты, которые повторяют функционал модулей или возможностей сборки (кроме случаев когда использование функционала модулей делает невозможным реализацию идеи автора миссии как есть).
    3. Обязательно использование модулей WMT_Main и WMT_Time
    4. Не рекомендуется использовать связки из 4 и более триггеров.
    5. Запрещено наличие неиспользуемых файлов в pbo.
 
7. Ограничения значений в модулях
    WMT_Main
    1. Дальность видимости
       * на всех картах до 2500
       * на Заргабаде до 5000
       * на Lythium до 3500
       * на Такистане до 5000
       * на FATA до 3000
       * на Reshmaan Province до 5000
    2. Дальность прорисовки земли
       * на всех картах 10000
       * меньше только при плохих погодных условиях
    3. Доля потерь
       * 0.1
       * 0 при необходимости использования триггеров или скриптов на подсчет живых игроков (см. п. 6.2)
    4. Расширенный брифинг
       * включен
       * отключен - допускается только при условии добавления вкладки “Техника” с описанием техники стороны или для миссий с возможностью выбора техники после старта и описанием техники в отдельной вкладке “Техника”
    5. Подсветка ников
       * включена
    6. Распознавание мертвых
       * включено
    7. ИИ
       * отключен
    8. Статистика
       * включена
    9. Отключенные каналы
       * 0,2,4,6

    WMT_Time
    1. Время на миссию
       * время на миссию до 180 минут
          1. Значение должно соответствовать количеству задач, наличию тяжелой техники и удаленности старта сторон
    2. Время на подготовку
       * 3 минуты
    3. Удаление ботов
       * 10 минут
    4. Размер стартовой зоны
       * от 20 до 100 метров
    WMT_Point
    1. Таймер
       * до 300 секунд
 
8. Прочее
    1. Запрещено изменять первое сообщение в теме миссии (генерируется автоматически).
    2. При обновлении миссии все изменения должны быть вписаны в поле "изменения".
